<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scotmatson.largestofthree">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.scotmatson.largestofthree.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.scotmatson.largestofthree.NumberInput"
            android:label="@string/title_activity_number_input"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.scotmatson.NUMBERINPUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.scotmatson.largestofthree.NumberOutput"
            android:label="@string/title_activity_number_output" >
            <intent-filter>
                <action android:name="com.scotmatson.NUMBEROUTPUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
